* {
    font-family: 'Roboto', Sans-serif;
    color:rgb(255, 255, 255)
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-and-wrapper1 {
    height: 520px;
    display: flex;
    flex-direction: column;
    background-image: url(./img/Jhin-wallpaper.jpg);
}

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        width: 99%;
        gap: 30px;
    }

        .left-link {
            margin-right: 30px;
        }

            .jhin-logo {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: rgb(114, 102, 102) 1px solid;
            }

                .jhin-logo:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }

        .right-links {
            margin-left: 30px;
            font-size: 32px;
            font-weight: bold;
        }

            ul {
                display: flex;
                list-style-type: none;
                gap: 30px;
            }

                a {
                color: rgb(255, 241, 241);
                text-decoration: none;   
                }

    .wrapper1 {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 50px;
    }
        .wrapper1 p {
            border-radius: 3px;
            padding: 5px;
            font-size: 18px;
        }
        .wrapper1 a{
            align-self: center;
        }
        .art-btn{
            width: 120px;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
            border-radius: 20px;
            margin: 5px;
        }
            .art-btn:hover{
                transform: scale(1.1);
            }

        .wrapper1 p, .art-btn {
            background-color: rgba(22, 8, 47, 0.342);
            border: 1px solid rgba(99, 23, 199, 0.342);
            font-weight: bold;
        }
    /*.jhin-gun {
        width: 300px;
        height: auto;
    }*/
.wrapper2 {
    height: 530px;
    background-color: rgb(22, 8, 47);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}   

    .info-wrapper {
        display: flex;
        gap: 50px;
    }
        .info {
            width: 165px;
        }
            .info img {
            width: 165px;
            }

            .info h3 {
                font-size: 20px;
                text-align: center;
            }

            .info p {
                text-align: center;
                font-weight: bold;
            }
.wrapper3 {
    background-color: rgb(75, 59, 97);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .wrapper3 h2 {
        font-style:italic;
    }

.wrapper4 {
    background-color: rgb(86, 115, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

    .w4-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(22, 8, 47);
        height: 200px;
        width: 900px;
        border-radius: 10px;
    }

        .w4-left-container p{
            font-size: 18px;
            font-weight: bold;
        }

    .w4-button {
        height: 30px;
        width: 100px;
        background-color: rgb(22, 8, 47);
        border: 1px solid rgb(190, 190, 190);
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
    }

        .w4-button:hover {
            scale: 1.1;
            background-color: rgb(212, 212, 212);
            color: black;
            font-weight: bold;
        }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 8, 47);
    height: 70px; 
    font-size: 20px;
}